In [26]:
# Don't be tempted - https://www.encyclopedia-titanica.org/titanic-deckplans/a-deck.html
# Some similar approaches - https://www.kaggle.com/code/ccastleberry/titanic-cabin-features

In [1]:
# Load necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Read Titanic Dataset
titanic_csv = r"C:\Data\IOD_Data\titanic_train.csv"
titanic = pd.read_csv(titanic_csv)

In [3]:
path2 = r"C:\Data\IOD_Data\titanic_test.csv"
titanic_test = pd.read_csv(path2)
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [4]:
# Want to concatanate the train and test datasets, this is for the data cleaning and manipulation purposes
titanic = pd.concat([titanic, titanic_test], ignore_index=True)

# Display the combined DataFrame
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# Check DataTypes
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [6]:
# Checking nulll values for each column
titanic.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [7]:
# Set the display option to show all rows
pd.set_option('display.max_rows', None)

# Value counts of each cabin,
# Observation: Weird enough, I expected to see unique cabin entries. However, there are multiple cabin observations clumped together... But looking deeper into this, cabin numbers that logged in together have the same letter so we can still extract first letter from the cabin observations later on (these might be the cabins bought side by seid by families perhaps?)

titanic['Cabin'].value_counts()

Cabin
C23 C25 C27        6
G6                 5
B57 B59 B63 B66    5
C22 C26            4
F33                4
F2                 4
B96 B98            4
C78                4
F4                 4
D                  4
E34                3
B58 B60            3
A34                3
E101               3
C101               3
B51 B53 B55        3
C31                2
C55 C57            2
D37                2
C54                2
B35                2
C32                2
C7                 2
C124               2
E50                2
C6                 2
E44                2
C46                2
C92                2
D21                2
C116               2
C85                2
D20                2
B45                2
E8                 2
E121               2
E24                2
C62 C64            2
F G63              2
B20                2
B5                 2
B71                2
C126               2
D17                2
D19                2
B69                2
B41                2
C68                2
D28                2
C86                2
B22                2
C65                2
E25                2
C123               2
B18                2
C106               2
E31                2
C89                2
E33                2
B49                2
C2                 2
D26                2
D10 D12            2
F G73              2
D36                2
C83                2
B28                2
C52                2
D33                2
B78                2
E46                2
C80                2
D30                2
B77                2
D15                2
E67                2
D35                2
C93                2
C125               2
B24                1
D38                1
B52 B54 B56        1
A29                1
B102               1
A36                1
C28                1
B82 B84            1
D6                 1
B3                 1
F38                1
C51                1
D11                1
B10                1
E49                1
D22                1
E77                1
C39                1
C97                1
D40                1
F                  1
C130               1
C47                1
E52                1
A11                1
D43                1
C53                1
B11                1
B61                1
C132               1
A9                 1
D34                1
A21                1
B36                1
F E46              1
B26                1
C148               1
C50                1
A24                1
E45                1
F E57              1
A18                1
E17                1
E60                1
E39 E41            1
B42                1
B39                1
D45                1
B101               1
C128               1
T                  1
E40                1
C91                1
E36                1
A19                1
D7                 1
C118               1
C99                1
B94                1
C87                1
A31                1
B80                1
B4                 1
A32                1
C49                1
A7                 1
B19                1
B86                1
D47                1
F E69              1
C110               1
A5                 1
B30                1
A6                 1
D56                1
C103               1
C82                1
E10                1
C104               1
A10                1
C45                1
C90                1
D49                1
E58                1
D48                1
A26                1
B50                1
A23                1
D9                 1
D50                1
A20                1
E68                1
A16                1
C111               1
C70                1
B38                1
C95                1
B73                1
D46                1
B79                1
C30                1
B37                1
A14                1
E63                1
E12                1
E38                1
C105               1
Name: count, dtype: int64

In [8]:
# Want to explore the Sibling-Spouse column a little further, perhaps these are the families with multiple cabin observations
titanic['SibSp'].value_counts()

SibSp
0    891
1    319
2     42
4     22
3     20
8      9
5      6
Name: count, dtype: int64

In [9]:
# Subsetting the DataFrame where 'SibSp' is 1 or more
subset = titanic[titanic['SibSp'] >= 1][['Pclass', 'Name', 'Cabin', 'Age', 'SibSp']]

# Grouping by 'Pclass' and displaying the result
# grouped_subset = subset.groupby('Pclass').apply(lambda x: x)


# Displaying the subset grouped by 'Pclass'
grouped_subset = subset.sort_values('Pclass').reset_index(drop=True)
# Display the grouped subset
grouped_subset

,Pclass,Name,Cabin,Age,SibSp
0,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",C93,35.00,1
1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",B49,19.00,1
2,1,"Warren, Mr. Frank Manley",D37,64.00,1
3,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",C101,53.00,2
4,1,"Andrews, Miss. Kornelia Theodosia",D7,63.00,1
5,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",C86,48.00,1
6,1,"Spedden, Mr. Frederic Oakley",E34,45.00,1
7,1,"Taussig, Mr. Emil",E67,52.00,1
8,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",C101,55.00,2
9,1,"Kenyon, Mr. Frederick R",D21,41.00,1
10,1,"Fortune, Mrs. Mark (Mary McDougald)",C23 C25 C27,60.00,1
11,1,"Ryerson, Master. John Borie",B57 B59 B63 B66,13.00,2
12,1,"Beckwith, Mr. Richard Leonard",D35,37.00,1
13,1,"Minahan, Dr. William Edward",C78,44.00,2
14,1,"Harper, Mr. Henry Sleeper",D33,48.00,1
15,1,"Schabert, Mrs. Paul (Emma Mock)",C28,35.00,1
16,1,"Frauenthal, Dr. Henry William",NaN,50.00,2
17,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",C55 C57,63.00,1
18,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",C83,35.00,1
19,1,"Clark, Mr. Walter Miller",C89,27.00,1
20,1,"Hoyt, Mr. Frederick Maxfield",C93,38.00,1
21,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",C126,NaN,1
22,1,"Newell, Miss. Madeleine",D36,31.00,1
23,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",E67,39.00,1
24,1,"Davidson, Mr. Thornton",B71,31.00,1
25,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",C89,26.00,1
26,1,"Fortune, Miss. Ethel Flora",C23 C25 C27,28.00,3
27,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",A16,48.00,1
28,1,"Silvey, Mr. William Baird",E44,50.00,1
29,1,"Smith, Mr. Lucien Philip",C31,24.00,1
30,1,"Allison, Miss. Helen Loraine",C22 C26,2.00,1
31,1,"Newell, Miss. Marjorie",D36,23.00,1
32,1,"Cumings, Mr. John Bradley",C85,39.00,1
33,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",C65,17.00,1
34,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",D30,18.00,1
35,1,"Carter, Mr. William Ernest",B96 B98,36.00,1
36,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",B58 B60,27.00,1
37,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",NaN,35.00,1
38,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",NaN,NaN,1
39,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",C68,39.00,1
40,1,"Frolicher-Stehli, Mr. Maxmillian",B41,60.00,1
41,1,"Harder, Mr. George Achilles",E50,25.00,1
42,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",D37,60.00,1
43,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",D20,52.00,1
44,1,"Stengel, Mr. Charles Emil Henry",C116,54.00,1
45,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",C116,43.00,1
46,1,"Astor, Col. John Jacob",C62 C64,47.00,1
47,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",A20,49.00,1
48,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",C46,76.00,1
49,1,"Fortune, Miss. Alice Elizabeth",C23 C25 C27,24.00,3
50,1,"Pears, Mr. Thomas Clinton",C2,29.00,1
51,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",NaN,NaN,1
52,1,"Wick, Mr. George Dennick",NaN,57.00,1
53,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",C80,50.00,1
54,1,"Davidson, Mrs. Thornton (Orian Hays)",B71,27.00,1
55,1,"Silvey, Mrs. William Baird (Alice Munger)",E44,39.00,1
56,1,"Minahan, Miss. Daisy E",C78,33.00,1
57,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",E34,40.00,1
58,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",D35,47.00,1
59,1,"Straus, Mr. Isidor",C55 C57,67.00,1
60,1,"Kimball, Mr. Edwin Nelson Jr",D19,42.00,1
61,1,"Ryerson, Miss. Emily Borie",B57 B59 B63 B66,18.00,2
62,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",C78,37.00,1
63,1,"Allison, Master. Hudson Trevor",C22 C26,0.92,1
64,1,"Thayer, Mr. John Borland",C68,49.00,1
65,1,"Dick, Mr. Albert Adrian",B20,31.00,1
66,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",D19,45.00,1
67,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",E31,47.00,1
68,1,"Harris, Mr. Henry Birkhardt",C83,45.00,1
69,1,"Goldenberg, Mr. Samuel L",C92,49.00,1
70,1,"Carter, Master. William Thornton II",B96 B98,11.00,1
71,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",E8,33.00,1
72,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",D33,49.00,1
73,1,"Dodge, Mrs. Washington (Ruth Vidaver)",A34,54.00,1
74,1,"Kenyon, Mrs. Frederick R (Marion)",D21,NaN,1
75,1,"Ryerson, Mr. Arthur Larned",B57 B59 B63 B66,61.00,1
76,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",B45,23.00,1
77,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",B69,52.00,1
78,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",NaN,54.00,1
79,1,"Penasco y Castellana, Mr. Victor de Satode",C65,18.00,1
80,1,"Compton, Miss. Sara Rebecca",E49,39.00,1
81,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",C92,NaN,1
82,1,"Holverson, Mr. Alexander Oskar",NaN,42.00,1
83,1,"Meyer, Mr. Edgar Joseph",NaN,28.00,1
84,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",B78,NaN,1
85,1,"Fortune, Mr. Charles Alexander",C23 C25 C27,19.00,3
86,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",C31,18.00,1
87,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",B41,48.00,1
88,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",C22 C26,25.00,1
89,1,"Frauenthal, Mr. Isaac Gerald",D40,43.00,1
90,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",NaN,45.00,1
91,1,"Widener, Mr. George Dunton",C80,50.00,1
92,1,"Eustis, Miss. Elizabeth Mussey",D20,54.00,1
93,1,"Bishop, Mr. Dickinson H",B49,25.00,1
94,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",C123,35.00,1
95,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",C85,38.00,1
96,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",C62 C64,18.00,1
97,1,"Rothschild, Mr. Martin",NaN,55.00,1
98,1,"Harder, Mrs. George Achilles (Dorothy Annan)",E50,25.00,1
99,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",B20,17.00,1
100,1,"Snyder, Mr. John Pillsbury",B45,24.00,1
101,1,"Dodge, Dr. Washington",A34,53.00,1
102,1,"Mock, Mr. Philipp Edmund",C78,30.00,1
103,1,"Taylor, Mr. Elmer Zebley",C126,48.00,1
104,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",B26,64.00,1
105,1,"Pears, Mrs. Thomas (Edith Wearne)",C2,22.00,1
106,1,"Allison, Mr. Hudson Joshua Creighton",C22 C26,30.00,1
107,1,"Chambers, Mr. Norman Campbell",E8,27.00,1
108,1,"Hays, Mr. Charles Melville",B69,55.00,1
109,1,"Futrelle, Mr. Jacques Heath",C123,37.00,1
110,1,"Carter, Miss. Lucile Polk",B96 B98,14.00,1
111,1,"Spencer, Mr. William Augustus",B78,57.00,1
112,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",B57 B59 B63 B66,48.00,1
113,1,"Cavendish, Mr. Tyrell William",C46,36.00,1
114,1,"Douglas, Mr. Walter Donald",C86,50.00,1
115,1,"Ryerson, Miss. Susan Parker ""Suzette""",B57 B59 B63 B66,21.00,2
116,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",C101,59.00,2
117,1,"Fortune, Miss. Mabel Helen",C23 C25 C27,23.00,3
118,1,"Chaffee, Mr. Herbert Fuller",E31,46.00,1
119,1,"Hogeboom, Mrs. John C (Anna Andrews)",D11,51.00,1
120,1,"Carter, Mrs. William Ernest (Lucile Polk)",B96 B98,36.00,1
121,1,"Crosby, Capt. Edward Gifford",B22,70.00,1
122,1,"Fortune, Mr. Mark",C23 C25 C27,64.00,1
123,1,"Marvin, Mr. Daniel Warner",D30,19.00,1
124,1,"Compton, Mr. Alexander Taylor Jr",E52,37.00,1
125,2,"Beane, Mr. Edward",NaN,32.00,1
126,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",NaN,29.00,1
127,2,"Quick, Miss. Phyllis May",NaN,2.00,1
128,2,"Weisz, Mr. Leopold",NaN,27.00,1
129,2,"Beane, Mrs. Edward (Ethel Clarke)",NaN,19.00,1
130,2,"Christy, Miss. Julie Rachel",NaN,25.00,1
131,2,"Hocking, Mr. Richard George",NaN,23.00,2
132,2,"Davies, Master. John Morgan Jr",NaN,8.00,1
133,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",NaN,36.00,1
134,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",NaN,34.00,1
135,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",NaN,24.00,2
136,2,"Giles, Mr. Frederick Edward",NaN,21.00,1
137,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,28.00,1
138,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",NaN,44.00,1
139,2,"Richards, Master. George Sibley",NaN,0.83,1
140,2,"Caldwell, Mr. Albert Francis",NaN,26.00,1
141,2,"Mallet, Mr. Albert",NaN,31.00,1
142,2,"Howard, Mr. Benjamin",NaN,63.00,1
143,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",NaN,31.00,1
144,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",NaN,24.00,1
145,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",NaN,54.00,1
146,2,"Hamalainen, Master. Viljo",NaN,0.67,1
147,2,"Herman, Mrs. Samuel (Jane Laver)",NaN,48.00,1
148,2,"Wells, Miss. Joan",NaN,4.00,1
149,2,"Louch, Mr. Charles Alexander",NaN,50.00,1
150,2,"Jefferys, Mr. Clifford Thomas",NaN,24.00,2
151,2,"Bryhl, Mr. Kurt Arnold Gottfrid",NaN,25.00,1
152,2,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",NaN,30.00,3
153,2,"Laroche, Mr. Joseph Philippe Lemercier",NaN,25.00,1
154,2,"Brown, Mr. Thomas William Solomon",NaN,60.00,1
155,2,"Hocking, Miss. Ellen Nellie""""",NaN,20.00,2
156,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",NaN,40.00,1
157,2,"Hickman, Mr. Lewis",NaN,32.00,2
158,2,"Collyer, Mr. Harvey",NaN,31.00,1
159,2,"Becker, Miss. Marion Louise",F4,4.00,2
160,2,"Wells, Master. Ralph Lester",NaN,2.00,1
161,2,"Herman, Miss. Alice",NaN,24.00,1
162,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",NaN,22.00,1
163,2,"Chapman, Mr. John Henry",NaN,37.00,1
164,2,"Hickman, Mr. Leonard Mark",NaN,24.00,2
165,2,"Duran y More, Miss. Asuncion",NaN,27.00,1
166,2,"Navratil, Master. Michel M",F2,3.00,1
167,2,"West, Miss. Constance Mirium",NaN,5.00,1
168,2,"Giles, Mr. Edgar",NaN,21.00,1
169,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",NaN,22.00,1
170,2,"Nasser, Mr. Nicholas",NaN,32.50,1
171,2,"Kantor, Mrs. Sinai (Miriam Sternin)",NaN,24.00,1
172,2,"Hart, Mr. Benjamin",NaN,43.00,1
173,2,"Lahtinen, Mrs. William (Anna Sylfven)",NaN,26.00,1
174,2,"Abelson, Mr. Samuel",NaN,30.00,1
175,2,"Hiltunen, Miss. Marta",NaN,18.00,1
176,2,"Drew, Mr. James Vivian",NaN,42.00,1
177,2,"Carter, Rev. Ernest Courtenay",NaN,54.00,1
178,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",NaN,29.00,1
179,2,"Mallet, Mrs. Albert (Antoinette Magnin)",NaN,24.00,1
180,2,"Hold, Mr. Stephen",NaN,44.00,1
181,2,"West, Miss. Barbara J",NaN,0.92,1
182,2,"Jacobsohn, Mr. Sidney Samuel",NaN,42.00,1
183,2,"Herman, Mr. Samuel",NaN,49.00,1
184,2,"Kantor, Mr. Sinai",NaN,34.00,1
185,2,"Bryhl, Miss. Dagmar Jenny Ingeborg",NaN,20.00,1
186,2,"Faunthorpe, Mr. Harry",NaN,40.00,1
187,2,"Becker, Master. Richard F",F4,1.00,2
188,2,"Ware, Mr. John James",NaN,30.00,1
189,2,"Laroche, Miss. Louise",NaN,1.00,1
190,2,"Clarke, Mr. Charles Valentine",NaN,29.00,1
191,2,"Nicholls, Mr. Joseph Charles",NaN,19.00,1
192,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",NaN,29.00,1
193,2,"Turpin, Mr. William John Robert",NaN,29.00,1
194,2,"Becker, Miss. Ruth Elizabeth",F4,12.00,2
195,2,"Jefferys, Mr. Ernest Wilfred",NaN,22.00,2
196,2,"Duran y More, Miss. Florentina",NaN,30.00,1
197,2,"Navratil, Master. Edmond Roger",F2,2.00,1
198,2,"Hickman, Mr. Stanley George",NaN,21.00,2
199,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",NaN,60.00,1
200,2,"Richards, Mrs. Sidney (Emily Hocking)",NaN,24.00,2
201,2,"Gale, Mr. Harry",NaN,38.00,1
202,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",NaN,29.00,1
203,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",NaN,42.00,1
204,2,"Lahtinen, Rev. William",NaN,30.00,1
205,2,"West, Mr. Edwy Arthur",NaN,36.00,1
206,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",NaN,28.00,1
207,2,"Herman, Miss. Kate",NaN,24.00,1
208,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",NaN,45.00,1
209,2,"Ware, Mr. William Jeffery",NaN,23.00,1
210,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",NaN,27.00,1
211,2,"Richards, Master. William Rowe",NaN,3.00,1
212,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",NaN,33.00,1
213,2,"Gale, Mr. Shadrach",NaN,34.00,1
214,2,"Renouf, Mr. Peter Henry",NaN,34.00,1
215,2,"Nasser, Mrs. Nicholas (Adele Achem)",NaN,14.00,1
216,2,"Angle, Mr. William A",NaN,34.00,1
217,2,"del Carlo, Mr. Sebastiano",NaN,29.00,1
218,2,"Quick, Miss. Winifred Vera",NaN,8.00,1
219,2,"Laroche, Miss. Simonne Marie Anne Andree",NaN,3.00,1
220,3,"Samaan, Mr. Elias",NaN,NaN,2
221,3,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",NaN,19.00,1
222,3,"Sage, Mr. John George",NaN,NaN,1
223,3,"van Billiard, Master. James William",NaN,NaN,1
224,3,"Peacock, Miss. Treasteall",NaN,3.00,1
225,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,NaN,1
226,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",NaN,22.00,1
227,3,"Kink-Heilmann, Mr. Anton",NaN,29.00,3
228,3,"Robins, Mr. Alexander A",NaN,50.00,1
229,3,"Dean, Miss. Elizabeth Gladys Millvina""""",NaN,0.17,1
230,3,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",NaN,30.00,1
231,3,"Palsson, Master. Paul Folke",NaN,6.00,3
232,3,"Sage, Master. William Henry",NaN,14.50,8
233,3,"Davies, Mr. John Samuel",NaN,21.00,2
234,3,"Ilmakangas, Miss. Ida Livija",NaN,27.00,1
235,3,"Sage, Mrs. John (Annie Bullen)",NaN,NaN,1
236,3,"McNamee, Mrs. Neal (Eileen O'Leary)",NaN,19.00,1
237,3,"Asplund, Master. Carl Edgar",NaN,5.00,4
238,3,"Kink, Miss. Maria",NaN,22.00,2
239,3,"Wilkes, Mrs. James (Ellen Needs)",NaN,47.00,1
240,3,"Caram, Mr. Joseph",NaN,NaN,1
241,3,"Thomas, Mr. Charles P",NaN,NaN,1
242,3,"Hansen, Mrs. Claus Peter (Jennie L Howard)",NaN,45.00,1
243,3,"Sage, Miss. Ada",NaN,NaN,8
244,3,"Davies, Mr. Joseph",NaN,17.00,2
245,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",NaN,40.00,1
246,3,"Dyker, Mr. Adolf Fredrik",NaN,23.00,1
247,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",NaN,16.00,1
248,3,"Ford, Mr. Edward Watson",NaN,18.00,2
249,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",NaN,26.00,1
250,3,"Chronopoulos, Mr. Demetrios",NaN,18.00,1
251,3,"Touma, Master. Georges Youssef",NaN,7.00,1
252,3,"Sandstrom, Miss. Beatrice Irene",G6,1.00,1
253,3,"Asplund, Master. Filip Oscar",NaN,13.00,4
254,3,"Kiernan, Mr. John",NaN,NaN,1
255,3,"Vander Planke, Mr. Julius",NaN,31.00,3
256,3,"Goodwin, Miss. Jessie Allis",NaN,10.00,5
257,3,"Goodwin, Mr. Charles Frederick",NaN,40.00,1
258,3,"van Billiard, Master. Walter John",NaN,11.50,1
259,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",NaN,33.00,1
260,3,"Andersson, Miss. Ida Augusta Margareta",NaN,38.00,4
261,3,"Wiklund, Mr. Karl Johan",NaN,21.00,1
262,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",NaN,NaN,1
263,3,"Samaan, Mr. Hanna",NaN,NaN,2
264,3,"Rosblom, Miss. Salli Helena",NaN,2.00,1
265,3,"Touma, Miss. Maria Youssef",NaN,9.00,1
266,3,"Peacock, Master. Alfred Edward",NaN,0.75,1
267,3,"Lennon, Miss. Mary",NaN,NaN,1
268,3,"McCoy, Miss. Alicia",NaN,NaN,2
269,3,"Klasen, Miss. Gertrud Emilia",NaN,1.00,1
270,3,"de Messemaeker, Mr. Guillaume Joseph",NaN,36.50,1
271,3,"Rice, Master. Albert",NaN,10.00,4
272,3,"Davison, Mr. Thomas Henry",NaN,NaN,1
273,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",NaN,NaN,1
274,3,"Johnston, Master. William Arthur Willie""""",NaN,NaN,1
275,3,"Boulos, Master. Akar",NaN,6.00,1
276,3,"Khalil, Mr. Betros",NaN,NaN,1
277,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",NaN,22.00,1
278,3,"Braund, Mr. Owen Harris",NaN,22.00,1
279,3,"Skoog, Miss. Mabel",NaN,9.00,3
280,3,"Sage, Miss. Dorothy Edith ""Dolly""",NaN,NaN,8
281,3,"Panula, Master. Eino Viljami",NaN,1.00,4
282,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",NaN,45.00,1
283,3,"Rice, Master. Arthur",NaN,4.00,4
284,3,"Johnson, Miss. Eleanor Ileen",NaN,1.00,1
285,3,"Klasen, Mr. Klas Albin",NaN,18.00,1
286,3,"Lefebre, Master. Henry Forbes",NaN,NaN,3
287,3,"Sage, Miss. Constance Gladys",NaN,NaN,8
288,3,"Asplund, Master. Clarence Gustaf Hugo",NaN,9.00,4
289,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",NaN,NaN,1
290,3,"Bourke, Mr. John",NaN,40.00,1
291,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",NaN,19.00,1
292,3,"Sage, Mr. Frederick",NaN,NaN,8
293,3,"Backstrom, Mr. Karl Alfred",NaN,32.00,1
294,3,"Kiernan, Mr. Philip",NaN,NaN,1
295,3,"Sage, Master. Thomas Henry",NaN,NaN,8
296,3,"Lefebre, Miss. Mathilde",NaN,NaN,3
297,3,"Zabour, Miss. Thamine",NaN,NaN,1
298,3,"Murphy, Miss. Katherine ""Kate""",NaN,NaN,1
299,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",G6,29.00,1
300,3,"Lobb, Mr. William Arthur",NaN,30.00,1
301,3,"Asplund, Master. Edvin Rojj Felix",NaN,3.00,4
302,3,"Panula, Mr. Ernesti Arvid",NaN,16.00,4
303,3,"Persson, Mr. Ernst Ulrik",NaN,25.00,1
304,3,"Rice, Master. Eric",NaN,7.00,4
305,3,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,35.00,1
306,3,"McCoy, Mr. Bernard",NaN,NaN,2
307,3,"Sage, Mr. George John Jr",NaN,NaN,8
308,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",NaN,31.00,1
309,3,"McCoy, Miss. Agnes",NaN,NaN,2
310,3,"Vander Planke, Mr. Leo Edmondus",NaN,16.00,2
311,3,"Asplund, Miss. Lillian Gertrud",NaN,5.00,4
312,3,"Ford, Miss. Robina Maggie ""Ruby""",NaN,9.00,2
313,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",NaN,24.00,1
314,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",NaN,47.00,1
315,3,"Palsson, Master. Gosta Leonard",NaN,2.00,3
316,3,"Sandstrom, Miss. Marguerite Rut",G6,4.00,1
317,3,"Andersson, Mr. Anders Johan",NaN,39.00,1
318,3,"Rice, Master. Eugene",NaN,2.00,4
319,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",NaN,31.00,1
320,3,"Palsson, Miss. Torborg Danira",NaN,8.00,3
321,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",NaN,38.00,1
322,3,"Vander Planke, Miss. Augusta Maria",NaN,18.00,2
323,3,"Nicola-Yarred, Miss. Jamila",NaN,14.00,1
324,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",NaN,40.00,1
325,3,"Lennon, Mr. Denis",NaN,NaN,1
326,3,"Samaan, Mr. Youssef",NaN,NaN,2
327,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",NaN,18.00,1
328,3,"Panula, Master. Juha Niilo",NaN,7.00,4
329,3,"Goodwin, Master. William Frederick",NaN,11.00,5
330,3,"Skoog, Master. Harald",NaN,4.00,3
331,3,"Moubarek, Master. Gerios",NaN,NaN,1
332,3,"Peter, Miss. Anna",F E69,NaN,1
333,3,"Nicola-Yarred, Master. Elias",NaN,12.00,1
334,3,"Andersson, Miss. Ellis Anna Maria",NaN,2.00,4
335,3,"Jussila, Miss. Katriina",NaN,20.00,1
336,3,"Zabour, Miss. Hileni",NaN,14.50,1
337,3,"Moran, Miss. Bertha",NaN,NaN,1
338,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",NaN,NaN,1
339,3,"Gustafsson, Mr. Anders Vilhelm",NaN,37.00,2
340,3,"Ford, Mr. William Neal",NaN,16.00,1
341,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",NaN,33.00,3
342,3,"Chronopoulos, Mr. Apostolos",NaN,26.00,1
343,3,"Goodwin, Miss. Lillian Amy",NaN,16.00,5
344,3,"Kink, Mr. Vincenz",NaN,26.00,2
345,3,"Andersson, Miss. Erna Alexandra",NaN,17.00,4
346,3,"Dean, Mr. Bertram Frank",NaN,26.00,1
347,3,"Coutts, Master. William Loch ""William""",NaN,3.00,1
348,3,"Elias, Mr. Tannous",NaN,15.00,1
349,3,"Arnold-Franchi, Mr. Josef",NaN,25.00,1
350,3,"Yasbeck, Mr. Antoni",NaN,27.00,1
351,3,"Nakid, Mr. Sahid",NaN,20.00,1
352,3,"Thorneycroft, Mr. Percival",NaN,NaN,1
353,3,"Skoog, Miss. Margit Elizabeth",NaN,2.00,3
354,3,"Baclini, Miss. Eugenie",NaN,0.75,2
355,3,"Bourke, Mrs. John (Catherine)",NaN,32.00,1
356,3,"Lindqvist, Mr. Eino William",NaN,20.00,1
357,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",NaN,43.00,1
358,3,"Goodwin, Mr. Charles Edward",NaN,14.00,5
359,3,"Panula, Mr. Jaako Arnold",NaN,14.00,4
360,3,"Hansen, Mr. Henrik Juul",NaN,26.00,1
361,3,"Moubarek, Master. Halim Gonios (""William George"")",NaN,NaN,1
362,3,"Jensen, Mr. Svend Lauritz",NaN,17.00,1
363,3,"Ilmakangas, Miss. Pieta Sofia",NaN,25.00,1
364,3,"Ford, Mrs. Edward (Margaret Ann Watson)",NaN,48.00,1
365,3,"McNamee, Mr. Neal",NaN,24.00,1
366,3,"Abbott, Mr. Rossmore Edward",NaN,16.00,1
367,3,"Hansen, Mr. Claus Peter",NaN,41.00,2
368,3,"Boulos, Miss. Nourelain",NaN,9.00,1
369,3,"Andersson, Master. Sigvard Harald Elias",NaN,4.00,4
370,3,"Sage, Mr. Douglas Bullen",NaN,NaN,8
371,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",NaN,15.00,1
372,3,"Panula, Master. Urho Abraham",NaN,2.00,4
373,3,"Lobb, Mrs. William Arthur (Cordelia K Stanlick)",NaN,26.00,1
374,3,"Skoog, Master. Karl Thorsten",NaN,10.00,3
375,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",NaN,30.00,1
376,3,"Sage, Miss. Stella Anna",NaN,NaN,8
377,3,"Dean, Master. Bertram Vere",NaN,1.00,1
378,3,"Rice, Master. George Hugh",NaN,8.00,4
379,3,"Johnston, Mr. Andrew G",NaN,NaN,1
380,3,"Moran, Mr. Daniel J",NaN,NaN,1
381,3,"Andersson, Miss. Ebba Iris Alfrida",NaN,6.00,4
382,3,"Johnson, Master. Harold Theodor",NaN,4.00,1
383,3,"Danbom, Mr. Ernst Gilbert",NaN,34.00,1

In [10]:
# Subsetting the DataFrame where 'SibSp' is 1 or more
subset2 = titanic[titanic['SibSp'] >= 1][['Pclass', 'Name', 'Cabin', 'Age', 'SibSp', 'Fare']]

# Counting the number of passengers in each cabin
subset2['Cabin_Count'] = subset2['Cabin'].map(subset2['Cabin'].value_counts())

# Sorting by 'Pclass' and 'Cabin'
grouped_subset = subset2.sort_values(['Pclass', 'Cabin']).reset_index(drop=True)

# Display the grouped subset
grouped_subset

,Pclass,Name,Cabin,Age,SibSp,Fare,Cabin_Count
0,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",A16,48.00,1,39.6000,1.0
1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",A20,49.00,1,56.9292,1.0
2,1,"Dodge, Dr. Washington",A34,53.00,1,81.8583,2.0
3,1,"Dodge, Mrs. Washington (Ruth Vidaver)",A34,54.00,1,81.8583,2.0
4,1,"Dick, Mr. Albert Adrian",B20,31.00,1,57.0000,2.0
5,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",B20,17.00,1,57.0000,2.0
6,1,"Crosby, Capt. Edward Gifford",B22,70.00,1,71.0000,1.0
7,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",B26,64.00,1,26.5500,1.0
8,1,"Frolicher-Stehli, Mr. Maxmillian",B41,60.00,1,79.2000,2.0
9,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",B41,48.00,1,79.2000,2.0
10,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",B45,23.00,1,82.2667,2.0
11,1,"Snyder, Mr. John Pillsbury",B45,24.00,1,82.2667,2.0
12,1,"Bishop, Mrs. Dickinson H (Helen Walton)",B49,19.00,1,91.0792,2.0
13,1,"Bishop, Mr. Dickinson H",B49,25.00,1,91.0792,2.0
14,1,"Ryerson, Miss. Emily Borie",B57 B59 B63 B66,18.00,2,262.3750,5.0
15,1,"Ryerson, Miss. Susan Parker ""Suzette""",B57 B59 B63 B66,21.00,2,262.3750,5.0
16,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",B57 B59 B63 B66,48.00,1,262.3750,5.0
17,1,"Ryerson, Master. John Borie",B57 B59 B63 B66,13.00,2,262.3750,5.0
18,1,"Ryerson, Mr. Arthur Larned",B57 B59 B63 B66,61.00,1,262.3750,5.0
19,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",B58 B60,27.00,1,247.5208,1.0
20,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",B69,52.00,1,93.5000,2.0
21,1,"Hays, Mr. Charles Melville",B69,55.00,1,93.5000,2.0
22,1,"Davidson, Mr. Thornton",B71,31.00,1,52.0000,2.0
23,1,"Davidson, Mrs. Thornton (Orian Hays)",B71,27.00,1,52.0000,2.0
24,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",B78,NaN,1,146.5208,2.0
25,1,"Spencer, Mr. William Augustus",B78,57.00,1,146.5208,2.0
26,1,"Carter, Mr. William Ernest",B96 B98,36.00,1,120.0000,4.0
27,1,"Carter, Miss. Lucile Polk",B96 B98,14.00,1,120.0000,4.0
28,1,"Carter, Mrs. William Ernest (Lucile Polk)",B96 B98,36.00,1,120.0000,4.0
29,1,"Carter, Master. William Thornton II",B96 B98,11.00,1,120.0000,4.0
30,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",C101,53.00,2,51.4792,3.0
31,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",C101,55.00,2,25.7000,3.0
32,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",C101,59.00,2,51.4792,3.0
33,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",C116,43.00,1,55.4417,2.0
34,1,"Stengel, Mr. Charles Emil Henry",C116,54.00,1,55.4417,2.0
35,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",C123,35.00,1,53.1000,2.0
36,1,"Futrelle, Mr. Jacques Heath",C123,37.00,1,53.1000,2.0
37,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",C126,NaN,1,52.0000,2.0
38,1,"Taylor, Mr. Elmer Zebley",C126,48.00,1,52.0000,2.0
39,1,"Pears, Mrs. Thomas (Edith Wearne)",C2,22.00,1,66.6000,2.0
40,1,"Pears, Mr. Thomas Clinton",C2,29.00,1,66.6000,2.0
41,1,"Allison, Miss. Helen Loraine",C22 C26,2.00,1,151.5500,4.0
42,1,"Allison, Master. Hudson Trevor",C22 C26,0.92,1,151.5500,4.0
43,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",C22 C26,25.00,1,151.5500,4.0
44,1,"Allison, Mr. Hudson Joshua Creighton",C22 C26,30.00,1,151.5500,4.0
45,1,"Fortune, Mr. Charles Alexander",C23 C25 C27,19.00,3,263.0000,6.0
46,1,"Fortune, Miss. Mabel Helen",C23 C25 C27,23.00,3,263.0000,6.0
47,1,"Fortune, Miss. Alice Elizabeth",C23 C25 C27,24.00,3,263.0000,6.0
48,1,"Fortune, Mr. Mark",C23 C25 C27,64.00,1,263.0000,6.0
49,1,"Fortune, Miss. Ethel Flora",C23 C25 C27,28.00,3,263.0000,6.0
50,1,"Fortune, Mrs. Mark (Mary McDougald)",C23 C25 C27,60.00,1,263.0000,6.0
51,1,"Schabert, Mrs. Paul (Emma Mock)",C28,35.00,1,57.7500,1.0
52,1,"Smith, Mr. Lucien Philip",C31,24.00,1,60.0000,2.0
53,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",C31,18.00,1,60.0000,2.0
54,1,"Cavendish, Mr. Tyrell William",C46,36.00,1,78.8500,2.0
55,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",C46,76.00,1,78.8500,2.0
56,1,"Straus, Mr. Isidor",C55 C57,67.00,1,221.7792,2.0
57,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",C55 C57,63.00,1,221.7792,2.0
58,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",C62 C64,18.00,1,227.5250,2.0
59,1,"Astor, Col. John Jacob",C62 C64,47.00,1,227.5250,2.0
60,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",C65,17.00,1,108.9000,2.0
61,1,"Penasco y Castellana, Mr. Victor de Satode",C65,18.00,1,108.9000,2.0
62,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",C68,39.00,1,110.8833,2.0
63,1,"Thayer, Mr. John Borland",C68,49.00,1,110.8833,2.0
64,1,"Minahan, Dr. William Edward",C78,44.00,2,90.0000,4.0
65,1,"Minahan, Miss. Daisy E",C78,33.00,1,90.0000,4.0
66,1,"Mock, Mr. Philipp Edmund",C78,30.00,1,57.7500,4.0
67,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",C78,37.00,1,90.0000,4.0
68,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",C80,50.00,1,211.5000,2.0
69,1,"Widener, Mr. George Dunton",C80,50.00,1,211.5000,2.0
70,1,"Harris, Mr. Henry Birkhardt",C83,45.00,1,83.4750,2.0
71,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",C83,35.00,1,83.4750,2.0
72,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",C85,38.00,1,71.2833,2.0
73,1,"Cumings, Mr. John Bradley",C85,39.00,1,71.2833,2.0
74,1,"Douglas, Mr. Walter Donald",C86,50.00,1,106.4250,2.0
75,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",C86,48.00,1,106.4250,2.0
76,1,"Clark, Mr. Walter Miller",C89,27.00,1,136.7792,2.0
77,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",C89,26.00,1,136.7792,2.0
78,1,"Goldenberg, Mr. Samuel L",C92,49.00,1,89.1042,2.0
79,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",C92,NaN,1,89.1042,2.0
80,1,"Hoyt, Mr. Frederick Maxfield",C93,38.00,1,90.0000,2.0
81,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",C93,35.00,1,90.0000,2.0
82,1,"Hogeboom, Mrs. John C (Anna Andrews)",D11,51.00,1,77.9583,1.0
83,1,"Kimball, Mr. Edwin Nelson Jr",D19,42.00,1,52.5542,2.0
84,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",D19,45.00,1,52.5542,2.0
85,1,"Eustis, Miss. Elizabeth Mussey",D20,54.00,1,78.2667,2.0
86,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",D20,52.00,1,78.2667,2.0
87,1,"Kenyon, Mrs. Frederick R (Marion)",D21,NaN,1,51.8625,2.0
88,1,"Kenyon, Mr. Frederick R",D21,41.00,1,51.8625,2.0
89,1,"Marvin, Mr. Daniel Warner",D30,19.00,1,53.1000,2.0
90,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",D30,18.00,1,53.1000,2.0
91,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",D33,49.00,1,76.7292,2.0
92,1,"Harper, Mr. Henry Sleeper",D33,48.00,1,76.7292,2.0
93,1,"Beckwith, Mr. Richard Leonard",D35,37.00,1,52.5542,2.0
94,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",D35,47.00,1,52.5542,2.0
95,1,"Newell, Miss. Madeleine",D36,31.00,1,113.2750,2.0
96,1,"Newell, Miss. Marjorie",D36,23.00,1,113.2750,2.0
97,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",D37,60.00,1,75.2500,2.0
98,1,"Warren, Mr. Frank Manley",D37,64.00,1,75.2500,2.0
99,1,"Frauenthal, Mr. Isaac Gerald",D40,43.00,1,27.7208,1.0
100,1,"Andrews, Miss. Kornelia Theodosia",D7,63.00,1,77.9583,1.0
101,1,"Chaffee, Mr. Herbert Fuller",E31,46.00,1,61.1750,2.0
102,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",E31,47.00,1,61.1750,2.0
103,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",E34,40.00,1,134.5000,2.0
104,1,"Spedden, Mr. Frederic Oakley",E34,45.00,1,134.5000,2.0
105,1,"Silvey, Mr. William Baird",E44,50.00,1,55.9000,2.0
106,1,"Silvey, Mrs. William Baird (Alice Munger)",E44,39.00,1,55.9000,2.0
107,1,"Compton, Miss. Sara Rebecca",E49,39.00,1,83.1583,1.0
108,1,"Harder, Mr. George Achilles",E50,25.00,1,55.4417,2.0
109,1,"Harder, Mrs. George Achilles (Dorothy Annan)",E50,25.00,1,55.4417,2.0
110,1,"Compton, Mr. Alexander Taylor Jr",E52,37.00,1,83.1583,1.0
111,1,"Taussig, Mr. Emil",E67,52.00,1,79.6500,2.0
112,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",E67,39.00,1,79.6500,2.0
113,1,"Chambers, Mr. Norman Campbell",E8,27.00,1,53.1000,2.0
114,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",E8,33.00,1,53.1000,2.0
115,1,"Meyer, Mr. Edgar Joseph",NaN,28.00,1,82.1708,NaN
116,1,"Holverson, Mr. Alexander Oskar",NaN,42.00,1,52.0000,NaN
117,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",NaN,NaN,1,133.6500,NaN
118,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",NaN,NaN,1,82.1708,NaN
119,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",NaN,35.00,1,52.0000,NaN
120,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",NaN,54.00,1,59.4000,NaN
121,1,"Frauenthal, Dr. Henry William",NaN,50.00,2,133.6500,NaN
122,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",NaN,45.00,1,164.8667,NaN
123,1,"Rothschild, Mr. Martin",NaN,55.00,1,59.4000,NaN
124,1,"Wick, Mr. George Dennick",NaN,57.00,1,164.8667,NaN
125,2,"Navratil, Master. Michel M",F2,3.00,1,26.0000,2.0
126,2,"Navratil, Master. Edmond Roger",F2,2.00,1,26.0000,2.0
127,2,"Becker, Master. Richard F",F4,1.00,2,39.0000,3.0
128,2,"Becker, Miss. Marion Louise",F4,4.00,2,39.0000,3.0
129,2,"Becker, Miss. Ruth Elizabeth",F4,12.00,2,39.0000,3.0
130,2,"Nasser, Mrs. Nicholas (Adele Achem)",NaN,14.00,1,30.0708,NaN
131,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",NaN,27.00,1,21.0000,NaN
132,2,"Laroche, Miss. Simonne Marie Anne Andree",NaN,3.00,1,41.5792,NaN
133,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",NaN,29.00,1,26.0000,NaN
134,2,"West, Miss. Constance Mirium",NaN,5.00,1,27.7500,NaN
135,2,"Kantor, Mr. Sinai",NaN,34.00,1,26.0000,NaN
136,2,"Turpin, Mr. William John Robert",NaN,29.00,1,21.0000,NaN
137,2,"Hickman, Mr. Stanley George",NaN,21.00,2,73.5000,NaN
138,2,"Nasser, Mr. Nicholas",NaN,32.50,1,30.0708,NaN
139,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",NaN,29.00,1,26.0000,NaN
140,2,"Nicholls, Mr. Joseph Charles",NaN,19.00,1,36.7500,NaN
141,2,"Jacobsohn, Mr. Sidney Samuel",NaN,42.00,1,27.0000,NaN
142,2,"Hold, Mr. Stephen",NaN,44.00,1,26.0000,NaN
143,2,"Carter, Rev. Ernest Courtenay",NaN,54.00,1,26.0000,NaN
144,2,"Abelson, Mr. Samuel",NaN,30.00,1,24.0000,NaN
145,2,"Lahtinen, Mrs. William (Anna Sylfven)",NaN,26.00,1,26.0000,NaN
146,2,"Hart, Mr. Benjamin",NaN,43.00,1,26.2500,NaN
147,2,"Kantor, Mrs. Sinai (Miriam Sternin)",NaN,24.00,1,26.0000,NaN
148,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",NaN,22.00,1,29.0000,NaN
149,2,"del Carlo, Mr. Sebastiano",NaN,29.00,1,27.7208,NaN
150,2,"Gale, Mr. Shadrach",NaN,34.00,1,21.0000,NaN
151,2,"Richards, Master. William Rowe",NaN,3.00,1,18.7500,NaN
152,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",NaN,34.00,1,32.5000,NaN
153,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",NaN,28.00,1,26.0000,NaN
154,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",NaN,42.00,1,26.0000,NaN
155,2,"Richards, Mrs. Sidney (Emily Hocking)",NaN,24.00,2,18.7500,NaN
156,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",NaN,45.00,1,26.2500,NaN
157,2,"West, Mr. Edwy Arthur",NaN,36.00,1,27.7500,NaN
158,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",NaN,33.00,1,27.7500,NaN
159,2,"Renouf, Mr. Peter Henry",NaN,34.00,1,21.0000,NaN
160,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",NaN,36.00,1,26.0000,NaN
161,2,"Hocking, Mr. Richard George",NaN,23.00,2,11.5000,NaN
162,2,"Quick, Miss. Phyllis May",NaN,2.00,1,26.0000,NaN
163,2,"Beane, Mr. Edward",NaN,32.00,1,26.0000,NaN
164,2,"Beane, Mrs. Edward (Ethel Clarke)",NaN,19.00,1,26.0000,NaN
165,2,"Davies, Master. John Morgan Jr",NaN,8.00,1,36.7500,NaN
166,2,"Christy, Miss. Julie Rachel",NaN,25.00,1,30.0000,NaN
167,2,"Chapman, Mr. John Henry",NaN,37.00,1,26.0000,NaN
168,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",NaN,24.00,2,27.0000,NaN
169,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",NaN,22.00,1,41.5792,NaN
170,2,"Herman, Miss. Alice",NaN,24.00,1,65.0000,NaN
171,2,"Collyer, Mr. Harvey",NaN,31.00,1,26.2500,NaN
172,2,"Hickman, Mr. Leonard Mark",NaN,24.00,2,73.5000,NaN
173,2,"Hickman, Mr. Lewis",NaN,32.00,2,73.5000,NaN
174,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",NaN,40.00,1,39.0000,NaN
175,2,"Brown, Mr. Thomas William Solomon",NaN,60.00,1,39.0000,NaN
176,2,"Laroche, Mr. Joseph Philippe Lemercier",NaN,25.00,1,41.5792,NaN
177,2,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",NaN,30.00,3,21.0000,NaN
178,2,"Bryhl, Mr. Kurt Arnold Gottfrid",NaN,25.00,1,26.0000,NaN
179,2,"Wells, Miss. Joan",NaN,4.00,1,23.0000,NaN
180,2,"Herman, Mrs. Samuel (Jane Laver)",NaN,48.00,1,65.0000,NaN
181,2,"Hamalainen, Master. Viljo",NaN,0.67,1,14.5000,NaN
182,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",NaN,54.00,1,23.0000,NaN
183,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",NaN,31.00,1,26.2500,NaN
184,2,"Mallet, Mr. Albert",NaN,31.00,1,37.0042,NaN
185,2,"Richards, Master. George Sibley",NaN,0.83,1,18.7500,NaN
186,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",NaN,44.00,1,26.0000,NaN
187,2,"Giles, Mr. Frederick Edward",NaN,21.00,1,11.5000,NaN
188,2,"Duran y More, Miss. Asuncion",NaN,27.00,1,13.8583,NaN
189,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,28.00,1,24.0000,NaN
190,2,"Caldwell, Mr. Albert Francis",NaN,26.00,1,29.0000,NaN
191,2,"Howard, Mr. Benjamin",NaN,63.00,1,26.0000,NaN
192,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",NaN,24.00,1,27.7208,NaN
193,2,"Louch, Mr. Charles Alexander",NaN,50.00,1,26.0000,NaN
194,2,"Jefferys, Mr. Clifford Thomas",NaN,24.00,2,31.5000,NaN
195,2,"Hocking, Miss. Ellen Nellie""""",NaN,20.00,2,23.0000,NaN
196,2,"Wells, Master. Ralph Lester",NaN,2.00,1,23.0000,NaN
197,2,"Weisz, Mr. Leopold",NaN,27.00,1,26.0000,NaN
198,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",NaN,29.00,1,26.0000,NaN
199,2,"Lahtinen, Rev. William",NaN,30.00,1,26.0000,NaN
200,2,"Angle, Mr. William A",NaN,34.00,1,26.0000,NaN
201,2,"Quick, Miss. Winifred Vera",NaN,8.00,1,26.0000,NaN
202,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",NaN,60.00,1,26.0000,NaN
203,2,"Duran y More, Miss. Florentina",NaN,30.00,1,13.8583,NaN
204,2,"Hiltunen, Miss. Marta",NaN,18.00,1,13.0000,NaN
205,2,"Drew, Mr. James Vivian",NaN,42.00,1,32.5000,NaN
206,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",NaN,29.00,1,26.0000,NaN
207,2,"West, Miss. Barbara J",NaN,0.92,1,27.7500,NaN
208,2,"Bryhl, Miss. Dagmar Jenny Ingeborg",NaN,20.00,1,26.0000,NaN
209,2,"Faunthorpe, Mr. Harry",NaN,40.00,1,26.0000,NaN
210,2,"Ware, Mr. John James",NaN,30.00,1,21.0000,NaN
211,2,"Laroche, Miss. Louise",NaN,1.00,1,41.5792,NaN
212,2,"Jefferys, Mr. Ernest Wilfred",NaN,22.00,2,31.5000,NaN
213,2,"Clarke, Mr. Charles Valentine",NaN,29.00,1,26.0000,NaN
214,2,"Herman, Mr. Samuel",NaN,49.00,1,65.0000,NaN
215,2,"Mallet, Mrs. Albert (Antoinette Magnin)",NaN,24.00,1,37.0042,NaN
216,2,"Giles, Mr. Edgar",NaN,21.00,1,11.5000,NaN
217,2,"Herman, Miss. Kate",NaN,24.00,1,65.0000,NaN
218,2,"Gale, Mr. Harry",NaN,38.00,1,21.0000,NaN
219,2,"Ware, Mr. William Jeffery",NaN,23.00,1,10.5000,NaN
220,3,"Peter, Miss. Anna",F E69,NaN,1,22.3583,1.0
221,3,"Sandstrom, Miss. Marguerite Rut",G6,4.00,1,16.7000,3.0
222,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",G6,29.00,1,10.4625,3.0
223,3,"Sandstrom, Miss. Beatrice Irene",G6,1.00,1,16.7000,3.0
224,3,"Braund, Mr. Owen Harris",NaN,22.00,1,7.2500,NaN
225,3,"Palsson, Master. Gosta Leonard",NaN,2.00,3,21.0750,NaN
226,3,"Andersson, Mr. Anders Johan",NaN,39.00,1,31.2750,NaN
227,3,"Rice, Master. Eugene",NaN,2.00,4,29.1250,NaN
228,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",NaN,31.00,1,18.0000,NaN
229,3,"Palsson, Miss. Torborg Danira",NaN,8.00,3,21.0750,NaN
230,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",NaN,38.00,1,31.3875,NaN
231,3,"Vander Planke, Miss. Augusta Maria",NaN,18.00,2,18.0000,NaN
232,3,"Nicola-Yarred, Miss. Jamila",NaN,14.00,1,11.2417,NaN
233,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",NaN,40.00,1,9.4750,NaN
234,3,"Lennon, Mr. Denis",NaN,NaN,1,15.5000,NaN
235,3,"Samaan, Mr. Youssef",NaN,NaN,2,21.6792,NaN
236,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",NaN,18.00,1,17.8000,NaN
237,3,"Panula, Master. Juha Niilo",NaN,7.00,4,39.6875,NaN
238,3,"Goodwin, Master. William Frederick",NaN,11.00,5,46.9000,NaN
239,3,"Skoog, Master. Harald",NaN,4.00,3,27.9000,NaN
240,3,"Moubarek, Master. Gerios",NaN,NaN,1,15.2458,NaN
241,3,"Andersson, Miss. Erna Alexandra",NaN,17.00,4,7.9250,NaN
242,3,"Kink, Mr. Vincenz",NaN,26.00,2,8.6625,NaN
243,3,"Goodwin, Miss. Lillian Amy",NaN,16.00,5,46.9000,NaN
244,3,"Chronopoulos, Mr. Apostolos",NaN,26.00,1,14.4542,NaN
245,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",NaN,33.00,3,15.8500,NaN
246,3,"Ford, Mr. William Neal",NaN,16.00,1,34.3750,NaN
247,3,"Dean, Mr. Bertram Frank",NaN,26.00,1,20.5750,NaN
248,3,"Gustafsson, Mr. Anders Vilhelm",NaN,37.00,2,7.9250,NaN
249,3,"Moran, Miss. Bertha",NaN,NaN,1,24.1500,NaN
250,3,"Zabour, Miss. Hileni",NaN,14.50,1,14.4542,NaN
251,3,"Jussila, Miss. Katriina",NaN,20.00,1,9.8250,NaN
252,3,"Andersson, Miss. Ellis Anna Maria",NaN,2.00,4,31.2750,NaN
253,3,"Nicola-Yarred, Master. Elias",NaN,12.00,1,11.2417,NaN
254,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",NaN,47.00,1,14.5000,NaN
255,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",NaN,24.00,1,15.8500,NaN
256,3,"Ford, Miss. Robina Maggie ""Ruby""",NaN,9.00,2,34.3750,NaN
257,3,"Sage, Master. Thomas Henry",NaN,NaN,8,69.5500,NaN
258,3,"Panula, Master. Eino Viljami",NaN,1.00,4,39.6875,NaN
259,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",NaN,45.00,1,27.9000,NaN
260,3,"Rice, Master. Arthur",NaN,4.00,4,29.1250,NaN
261,3,"Johnson, Miss. Eleanor Ileen",NaN,1.00,1,11.1333,NaN
262,3,"Klasen, Mr. Klas Albin",NaN,18.00,1,7.8542,NaN
263,3,"Lefebre, Master. Henry Forbes",NaN,NaN,3,25.4667,NaN
264,3,"Sage, Miss. Constance Gladys",NaN,NaN,8,69.5500,NaN
265,3,"Asplund, Master. Clarence Gustaf Hugo",NaN,9.00,4,31.3875,NaN
266,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",NaN,NaN,1,15.5000,NaN
267,3,"Bourke, Mr. John",NaN,40.00,1,15.5000,NaN
268,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",NaN,19.00,1,7.8542,NaN
269,3,"Sage, Mr. Frederick",NaN,NaN,8,69.5500,NaN
270,3,"Backstrom, Mr. Karl Alfred",NaN,32.00,1,15.8500,NaN
271,3,"Kiernan, Mr. Philip",NaN,NaN,1,7.7500,NaN
272,3,"Lefebre, Miss. Mathilde",NaN,NaN,3,25.4667,NaN
273,3,"Asplund, Miss. Lillian Gertrud",NaN,5.00,4,31.3875,NaN
274,3,"Zabour, Miss. Thamine",NaN,NaN,1,14.4542,NaN
275,3,"Murphy, Miss. Katherine ""Kate""",NaN,NaN,1,15.5000,NaN
276,3,"Lobb, Mr. William Arthur",NaN,30.00,1,16.1000,NaN
277,3,"Asplund, Master. Edvin Rojj Felix",NaN,3.00,4,31.3875,NaN
278,3,"Panula, Mr. Ernesti Arvid",NaN,16.00,4,39.6875,NaN
279,3,"Persson, Mr. Ernst Ulrik",NaN,25.00,1,7.7750,NaN
280,3,"Rice, Master. Eric",NaN,7.00,4,29.1250,NaN
281,3,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,35.00,1,20.2500,NaN
282,3,"McCoy, Mr. Bernard",NaN,NaN,2,23.2500,NaN
283,3,"Sage, Mr. George John Jr",NaN,NaN,8,69.5500,NaN
284,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",NaN,31.00,1,20.5250,NaN
285,3,"McCoy, Miss. Agnes",NaN,NaN,2,23.2500,NaN
286,3,"Vander Planke, Mr. Leo Edmondus",NaN,16.00,2,18.0000,NaN
287,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",NaN,NaN,1,16.1000,NaN
288,3,"Coutts, Master. William Loch ""William""",NaN,3.00,1,15.9000,NaN
289,3,"Elias, Mr. Tannous",NaN,15.00,1,7.2292,NaN
290,3,"Arnold-Franchi, Mr. Josef",NaN,25.00,1,17.8000,NaN
291,3,"Skoog, Mr. Wilhelm",NaN,40.00,1,27.9000,NaN
292,3,"O'Brien, Mr. Thomas",NaN,NaN,1,15.5000,NaN
293,3,"Wiklund, Mr. Jakob Alfred",NaN,18.00,1,6.4958,NaN
294,3,"Palsson, Miss. Stina Viola",NaN,3.00,3,21.0750,NaN
295,3,"Goodwin, Master. Sidney Leonard",NaN,1.00,5,46.9000,NaN
296,3,"Gustafsson, Mr. Johan Birger",NaN,28.00,2,7.9250,NaN
297,3,"Jussila, Miss. Mari Aina",NaN,21.00,1,9.8250,NaN
298,3,"Hakkarainen, Mr. Pekka Pietari",NaN,28.00,1,15.8500,NaN
299,3,"Lefebre, Miss. Ida",NaN,NaN,3,25.4667,NaN
300,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",NaN,28.00,1,14.4000,NaN
301,3,"Rosblom, Mr. Viktor Richard",NaN,18.00,1,20.2125,NaN
302,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",NaN,NaN,1,16.1000,NaN
303,3,"Ford, Miss. Doolina Margaret ""Daisy""",NaN,21.00,2,34.3750,NaN
304,3,"Petterson, Mr. Johan Emil",NaN,25.00,1,7.7750,NaN
305,3,"Baclini, Miss. Marie Catherine",NaN,5.00,2,19.2583,NaN
306,3,"Hagland, Mr. Ingvald Olai Olsen",NaN,NaN,1,19.9667,NaN
307,3,"Baclini, Miss. Helene Barbara",NaN,0.75,2,19.2583,NaN

In [11]:
# Making sure the dtype of this column is str so we can split the first letter later on
titanic['Cabin'] = titanic['Cabin'].astype(str)

# Extract the first letter of each cabin with list comprehesion, which would handle Nan values as well
titanic['Cabin_First_Letter'] = titanic['Cabin'].apply(lambda x: x[0] if pd.notna(x) and x != 'nan' else np.nan)

# Apply Function: We use the .apply() function to extract the first letter of each cabin. The lambda function checks if the value is not NaN and not the string 'nan' (which results from converting NaN to a string). It then extracts the first character.




# Result: The new column Cabin_First_Letter will contain the first letter of the cabin, or NaN if the original cabin value was missing.
titanic[['Cabin', 'Cabin_First_Letter', 'Pclass']]

                Cabin Cabin_First_Letter  Pclass
0                 nan                NaN       3
1                 C85                  C       1
2                 nan                NaN       3
3                C123                  C       1
4                 nan                NaN       3
5                 nan                NaN       3
6                 E46                  E       1
7                 nan                NaN       3
8                 nan                NaN       3
9                 nan                NaN       2
10                 G6                  G       3
11               C103                  C       1
12                nan                NaN       3
13                nan                NaN       3
14                nan                NaN       3
15                nan                NaN       2
16                nan                NaN       3
17                nan                NaN       2
18                nan                NaN       3
19                nan                NaN       3
20                nan                NaN       2
21                D56                  D       2
22                nan                NaN       3
23                 A6                  A       1
24                nan                NaN       3
25                nan                NaN       3
26                nan                NaN       3
27        C23 C25 C27                  C       1
28                nan                NaN       3
29                nan                NaN       3
30                nan                NaN       1
31                B78                  B       1
32                nan                NaN       3
33                nan                NaN       2
34                nan                NaN       1
35                nan                NaN       1
36                nan                NaN       3
37                nan                NaN       3
38                nan                NaN       3
39                nan                NaN       3
40                nan                NaN       3
41                nan                NaN       2
42                nan                NaN       3
43                nan                NaN       2
44                nan                NaN       3
45                nan                NaN       3
46                nan                NaN       3
47                nan                NaN       3
48                nan                NaN       3
49                nan                NaN       3
50                nan                NaN       3
51                nan                NaN       3
52                D33                  D       1
53                nan                NaN       2
54                B30                  B       1
55                C52                  C       1
56                nan                NaN       2
57                nan                NaN       3
58                nan                NaN       2
59                nan                NaN       3
60                nan                NaN       3
61                B28                  B       1
62                C83                  C       1
63                nan                NaN       3
64                nan                NaN       1
65                nan                NaN       3
66                F33                  F       2
67                nan                NaN       3
68                nan                NaN       3
69                nan                NaN       3
70                nan                NaN       2
71                nan                NaN       3
72                nan                NaN       2
73                nan                NaN       3
74                nan                NaN       3
75              F G73                  F       3
76                nan                NaN       3
77                nan                NaN       3
78                nan                NaN       2
79                nan                NaN       3
80                nan                NaN       3
81                nan                NaN       3
82                nan                NaN       3
83                nan                NaN       1
84                nan                NaN       2
85                nan                NaN       3
86                nan                NaN       3
87                nan                NaN       3
88        C23 C25 C27                  C       1
89                nan                NaN       3
90                nan                NaN       3
91                nan                NaN       3
92                E31                  E       1
93                nan                NaN       3
94                nan                NaN       3
95                nan                NaN       3
96                 A5                  A       1
97            D10 D12                  D       1
98                nan                NaN       2
99                nan                NaN       2
100               nan                NaN       3
101               nan                NaN       3
102               D26                  D       1
103               nan                NaN       3
104               nan                NaN       3
105               nan                NaN       3
106               nan                NaN       3
107               nan                NaN       3
108               nan                NaN       3
109               nan                NaN       3
110              C110                  C       1
111               nan                NaN       3
112               nan                NaN       3
113               nan                NaN       3
114               nan                NaN       3
115               nan                NaN       3
116               nan                NaN       3
117               nan                NaN       2
118           B58 B60                  B       1
119               nan                NaN       3
120               nan                NaN       2
121               nan                NaN       3
122               nan                NaN       2
123              E101                  E       2
124               D26                  D       1
125               nan                NaN       3
126               nan                NaN       3
127               nan                NaN       3
128             F E69                  F       3
129               nan                NaN       3
130               nan                NaN       3
131               nan                NaN       3
132               nan                NaN       3
133               nan                NaN       2
134               nan                NaN       2
135               nan                NaN       2
136               D47                  D       1
137              C123                  C       1
138               nan                NaN       3
139               B86                  B       1
140               nan                NaN       3
141               nan                NaN       3
142               nan                NaN       3
143               nan                NaN       3
144               nan                NaN       2
145               nan                NaN       2
146               nan                NaN       3
147               nan                NaN       3
148                F2                  F       2
149               nan                NaN       2
150               nan                NaN       2
151                C2                  C       1
152               nan                NaN       3
153               nan                NaN       3
154               nan                NaN       3
155               nan                NaN       1
156               nan                NaN       3
157               nan                NaN       3
158               nan                NaN       3
159               nan                NaN       3
160               nan                NaN       3
161               nan                NaN       2
162               nan                NaN       3
163               nan                NaN       3
164               nan                NaN       3
165               nan                NaN       3
166               E33                  E       1
167               nan                NaN       3
168               nan                NaN       1
169               nan                NaN       3
170               B19                  B       1
171               nan                NaN       3
172               nan                NaN       3
173               nan                NaN       3
174                A7                  A       1
175               nan                NaN       3
176               nan                NaN       3
177               C49                  C       1
178               nan                NaN       2
179               nan                NaN       3
180               nan                NaN       3
181               nan                NaN       2
182               nan                NaN       3
183                F4                  F       2
184               nan                NaN       3
185               A32                  A       1
186               nan                NaN       3
187               nan                NaN       1
188               nan                NaN       3
189               nan                NaN       3
190               nan                NaN       2
191               nan                NaN       2
192               nan                NaN       3
193                F2                  F       2
194                B4                  B       1
195               B80                  B       1
196               nan                NaN       3
197               nan                NaN       3
198               nan                NaN       3
199               nan                NaN       2
200               nan                NaN       3
201               nan                NaN       3
202               nan                NaN       3
203               nan                NaN       3
204               nan                NaN       3
205                G6                  G       3
206               nan                NaN       3
207               nan                NaN       3
208               nan                NaN       3
209               A31                  A       1
210               nan                NaN       3
211               nan                NaN       2
212               nan                NaN       3
213               nan                NaN       2
214               nan                NaN       3
215               D36                  D       1
216               nan                NaN       3
217               nan                NaN       2
218               D15                  D       1
219               nan                NaN       2
220               nan                NaN       3
221               nan                NaN       2
222               nan                NaN       3
223               nan                NaN       3
224               C93                  C       1
225               nan                NaN       3
226               nan                NaN       2
227               nan                NaN       3
228               nan                NaN       2
229               nan                NaN       3
230               C83                  C       1
231               nan                NaN       3
232               nan                NaN       2
233               nan                NaN       3
234               nan                NaN       2
235               nan                NaN       3
236               nan                NaN       2
237               nan                NaN       2
238               nan                NaN       2
239               nan                NaN       2
240               nan                NaN       3
241               nan                NaN       3
242               nan                NaN       2
243               nan                NaN       3
244               nan                NaN       3
245               C78                  C       1
246               nan                NaN       3
247               nan                NaN       2
248               D35                  D       1
249               nan                NaN       2
250               nan                NaN       3
251                G6                  G       3
252               C87                  C       1
253               nan                NaN       3
254               nan                NaN       3
255               nan                NaN       3
256               nan                NaN       1
257               B77                  B       1
258               nan                NaN       1
259               nan                NaN       2
260               nan                NaN       3
261               nan                NaN       3
262               E67                  E       1
263               B94                  B       1
264               nan                NaN       3
265               nan                NaN       2
266               nan                NaN       3
267               nan                NaN       3
268              C125                  C       1
269               C99                  C       1
270               nan                NaN       1
271               nan                NaN       3
272               nan                NaN       2
273              C118                  C       1
274               nan                NaN       3
275                D7                  D       1
276               nan                NaN       3
277               nan                NaN       2
278               nan                NaN       3
279               nan                NaN       3
280               nan                NaN       3
281               nan                NaN       3
282               nan                NaN       3
283               nan                NaN       3
284               A19                  A       1
285               nan                NaN       3
286               nan                NaN       3
287               nan                NaN       3
288               nan                NaN       2
289               nan                NaN       3
290               nan                NaN       1
291               B49                  B       1
292                 D                  D       2
293               nan                NaN       3
294               nan                NaN       3
295               nan                NaN       1
296               nan                NaN       3
297           C22 C26                  C       1
298              C106                  C       1
299           B58 B60                  B       1
300               nan                NaN       3
301               nan                NaN       3
302               nan                NaN       3
303              E101                  E       2
304               nan                NaN       3
305           C22 C26                  C       1
306               nan                NaN       1
307               C65                  C       1
308               nan                NaN       2
309               E36                  E       1
310               C54                  C       1
311   B57 B59 B63 B66                  B       1
312               nan                NaN       2
313               nan                NaN       3
314               nan                NaN       2
315               nan                NaN       3
316               nan                NaN       2
317               nan                NaN       2
318                C7                  C       1
319               E34                  E       1
320               nan                NaN       3
321               nan                NaN       3
322               nan                NaN       2
323               nan                NaN       2
324               nan                NaN       3
325               C32                  C       1
326               nan                NaN       3
327                 D                  D       2
328               nan                NaN       3
329               B18                  B       1
330               nan                NaN       3
331              C124                  C       1
332               C91                  C       1
333               nan                NaN       3
334               nan                NaN       1
335               nan                NaN       3
336                C2                  C       1
337               E40                  E       1
338               nan                NaN       3
339                 T                  T       1
340                F2                  F       2
341       C23 C25 C27                  C       1
342               nan                NaN       2
343               nan                NaN       2
344               nan                NaN       2
345               F33                  F       2
346               nan                NaN       2
347               nan                NaN       3
348               nan                NaN       3
349               nan                NaN       3
350               nan                NaN       3
351              C128                  C       1
352               nan                NaN       3
353               nan                NaN       3
354               nan                NaN       3
355               nan                NaN       3
356               E33                  E       1
357               nan                NaN       2
358               nan                NaN       3
359               nan                NaN       3
360               nan                NaN       3
361               nan                NaN       2
362               nan                NaN       3
363               nan                NaN       3
364               nan                NaN       3
365               nan                NaN       3
366               D37                  D       1
367               nan                NaN       3
368               nan                NaN       3
369               B35                  B       1
370               E50                  E       1
371               nan                NaN       3
372               nan                NaN       3
373               nan                NaN       1
374               nan                NaN       3
375               nan                NaN       1
376               nan                NaN       3
377               C82                  C       1
378               nan                NaN       3
379               nan                NaN       3
380               nan                NaN       1
381               nan                NaN       3
382               nan                NaN       3
383               nan                NaN       1
384               nan                NaN       3
385               nan                NaN       2
386               nan                NaN       3
387               nan                NaN       2
388               nan                NaN       3
389               nan                NaN       2
390           B96 B98                  B       1
391               nan                NaN       3
392               nan                NaN       3
393               D36                  D       1
394                G6                  G       3
395               nan                NaN       3
396               nan                NaN       3
397               nan                NaN       2
398               nan                NaN       2
399               nan                NaN       2
400               nan                NaN       3
401               nan                NaN       3
402               nan                NaN       3
403               nan                NaN       3
404               nan                NaN       3
405               nan                NaN       2
406               nan                NaN       3

In [12]:
titanic.groupby(['Pclass', 'Cabin_First_Letter']).agg({'Cabin_First_Letter' : 'count'})

                           Cabin_First_Letter
Pclass Cabin_First_Letter
1      A                                   22
       B                                   65
       C                                   94
       D                                   40
       E                                   34
       T                                    1
2      D                                    6
       E                                    4
       F                                   13
3      E                                    3
       F                                    8
       G                                    5

In [13]:
# Observation : 

# https://www.encyclopedia-titanica.org/titanic-deckplans/a-deck.html

# Looking at this ship map, it seems like there are more cabin A's than we have in the dataset. Also all A's are classified as first class, so it is almost impossible to get the most accurate info filled in to the missing cabin info.

In [14]:
# Would like to subset the data for only missing cabin value observations

cabin_nulls = titanic[titanic['Cabin_First_Letter'].isnull()]

In [15]:
# Subsetting the missing cabin numbers and grouping by the PClass
cabin_nulls.groupby(['Pclass']).agg({'Pclass' : 'count' , 'Fare' : 'mean'})

        Pclass       Fare
Pclass
1           67  70.268157
2          254  21.394537
3          693  13.351522

In [16]:
# I want to gather some payment info (min, max, mean, median of the Fare column per class and cabin letter)
# This info will help filling in missing cabin letters later on, it is just a gudie though

titanic.groupby(['Pclass', 'Cabin_First_Letter']).agg({'Cabin_First_Letter': 'count', 'Fare': ['mean', 'median', 'min', 'max']})

                          Cabin_First_Letter        Fare                     \
                                       count        mean    median      min
Pclass Cabin_First_Letter
1      A                                  22   41.244314  35.07710   0.0000
       B                                  65  122.383078  82.26670   0.0000
       C                                  94  107.926598  86.28960  25.7000
       D                                  40   58.919065  53.10000  25.9292
       E                                  34   63.464706  55.44170  25.5875
       T                                   1   35.500000  35.50000  35.5000
2      D                                   6   13.595833  13.39585  12.8750
       E                                   4   11.587500  11.42500  10.5000
       F                                  13   23.423077  26.00000  10.5000
3      E                                   3   11.000000  12.47500   8.0500
       F                                   8    9.395837   7.65000   7.2292
       G                                   5   14.205000  16.70000  10.4625


                                max
Pclass Cabin_First_Letter
1      A                    81.8583
       B                   512.3292
       C                   263.0000
       D                   113.2750
       E                   134.5000
       T                    35.5000
2      D                    15.0458
       E                    13.0000
       F                    39.0000
3      E                    12.4750
       F                    22.3583
       G                    16.7000

In [17]:
cabin_nulls.groupby(['Pclass']).agg({'Pclass': 'count', 'Fare': ['mean', 'median', 'min', 'max']})

       Pclass       Fare
        count       mean   median  min       max
Pclass
1          67  70.268157  39.6000  0.0  512.3292
2         254  21.394537  15.6646  0.0   73.5000
3         693  13.351522   8.0500  0.0   69.5500

In [18]:
# Fill missing 'Cabin_First_Letter' values for first-class passengers with a fare between 25 and 100 with 'D'
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 1 & 
            (titanic['Fare'] >= 25) & (titanic['Fare'] <= 100), 
            'Cabin_First_Letter'] = "D"

# Fill missing 'Cabin_First_Letter' values for second-class passengers with a fare between 10 and 39 with 'F'
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 2 & 
            (titanic['Fare'] >= 10) & (titanic['Fare'] <= 39), 
            'Cabin_First_Letter'] = "F"

# Fill missing 'Cabin_First_Letter' values for third-class passengers with a fare between 0 and 13 with 'E'
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 3 & 
            (titanic['Fare'] >= 0) & (titanic['Fare'] <= 13), 
            'Cabin_First_Letter'] = "E"

# Fill missing 'Cabin_First_Letter' values for third-class passengers with a fare between 14 to 16 with 'G'
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 3 & 
            (titanic['Fare'] > 13) & (titanic['Fare'] <= 16), 
            'Cabin_First_Letter'] = "G"

# Fill missing 'Cabin_First_Letter' values for third-class passengers with a fare between 16 to 23 with 'F'
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 3 & 
            (titanic['Fare'] >= 16) & (titanic['Fare'] <= 23), 
            'Cabin_First_Letter'] = "F"

In [19]:
# After the above logical operations to fill in missing values, we still have a missing cabin letter observation
titanic.isnull().sum()

PassengerId             0
Survived              418
Pclass                  0
Name                    0
Sex                     0
Age                   263
SibSp                   0
Parch                   0
Ticket                  0
Fare                    1
Cabin                   0
Embarked                2
Cabin_First_Letter     31
dtype: int64

In [20]:
# From the above observation, we still have 38 missing Cabin letter value, so I am so keen to see what is going on
more_cabin_nulls = titanic[titanic['Cabin_First_Letter'].isnull()]
more_cabin_nulls

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_First_Letter
109,110,1.0,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,nan,Q,NaN
258,259,1.0,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,nan,C,NaN
301,302,1.0,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,nan,Q,NaN
306,307,1.0,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,nan,C,NaN
330,331,1.0,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,nan,Q,NaN
334,335,1.0,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,nan,S,NaN
373,374,0.0,1,"Ringhini, Mr. Sante",male,22.0,0,0,PC 17760,135.6333,nan,C,NaN
380,381,1.0,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,nan,C,NaN
419,420,0.0,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,nan,S,NaN
517,518,0.0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,nan,Q,NaN
537,538,1.0,1,"LeRoy, Miss. Bertha",female,30.0,0,0,PC 17761,106.4250,nan,C,NaN
557,558,0.0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,nan,C,NaN
565,566,0.0,3,"Davies, Mr. Alfred J",male,24.0,2,0,A/4 48871,24.1500,nan,S,NaN
595,596,0.0,3,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.1500,nan,S,NaN
660,661,1.0,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.6500,nan,S,NaN
708,709,1.0,1,"Cleaver, Miss. Alice",female,22.0,0,0,113781,151.5500,nan,S,NaN
768,769,0.0,3,"Moran, Mr. Daniel J",male,NaN,1,0,371110,24.1500,nan,Q,NaN
783,784,0.0,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,nan,S,NaN
799,800,0.0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,nan,S,NaN
811,812,0.0,3,"Lester, Mr. James",male,39.0,0,0,A/4 48871,24.1500,nan,S,NaN
856,857,1.0,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,nan,S,NaN
888,889,0.0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,nan,S,NaN
900,901,NaN,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,nan,S,NaN
924,925,NaN,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,nan,S,NaN
1018,1019,NaN,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,nan,Q,NaN
1032,1033,NaN,1,"Daniels, Miss. Sarah",female,33.0,0,0,113781,151.5500,nan,S,NaN
1043,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,nan,S,NaN
1108,1109,NaN,1,"Wick, Mr. George Dennick",male,57.0,1,1,36928,164.8667,nan,S,NaN
1135,1136,NaN,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,nan,S,NaN
1215,1216,NaN,1,"Kreuchen, Miss. Emilie",female,39.0,0,0,24160,211.3375,nan,S,NaN
1266,1267,NaN,1,"Bowen, Miss. Grace Scott",female,45.0,0,0,PC 17608,262.3750,nan,C,NaN

In [21]:
more_cabin_nulls.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,31.000000,22.000000,31.000000,18.000000,31.000000,31.000000,30.000000
mean,694.387097,0.500000,2.096774,35.583333,0.741935,0.451613,102.502223
std,315.280370,0.511766,1.011759,13.215688,0.773207,0.767624,110.082892
min,110.000000,0.000000,1.000000,10.000000,0.000000,0.000000,23.250000
25%,400.500000,0.000000,1.000000,25.500000,0.000000,0.000000,24.150000
50%,709.000000,0.500000,3.000000,35.500000,1.000000,0.000000,24.150000
75%,913.000000,1.000000,3.000000,44.250000,1.000000,1.000000,151.550000
max,1267.000000,1.000000,3.000000,60.500000,2.000000,2.000000,512.329200

In [22]:
more_cabin_nulls.groupby(['Pclass']).agg({'Pclass': 'count', 'Fare': ['mean', 'median', 'min', 'max']})

       Pclass        Fare
        count        mean     median      min       max
Pclass
1          14  192.440479  158.20835  106.425  512.3292
3          17   23.806250   24.15000   23.250   24.1500

In [23]:
# Fill missing 'Cabin_First_Letter' values for first-class passengers with a fare greater than or equal to 100 with 'A'
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 1 & 
            (titanic['Fare'] >= 100), 
            'Cabin_First_Letter'] = "A"


# Fill missing 'Cabin_First_Letter' values for third-class passengers with a greater than 23 with 'F' as it seems like it is the highest paying Pclass 3 cabin number
titanic.loc[titanic['Cabin_First_Letter'].isna() & titanic['Pclass'] == 3 & 
            (titanic['Fare'] > 23), 
            'Cabin_First_Letter'] = "F"

In [24]:
titanic.isnull().sum()

PassengerId             0
Survived              418
Pclass                  0
Name                    0
Sex                     0
Age                   263
SibSp                   0
Parch                   0
Ticket                  0
Fare                    1
Cabin                   0
Embarked                2
Cabin_First_Letter      1
dtype: int64

In [25]:
# Speechless
still_more_cabin_nulls = titanic[titanic['Cabin_First_Letter'].isnull()]
still_more_cabin_nulls

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_First_Letter
1043,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,nan,S,NaN